{% extends 'user/base.html'%}
<!-- new creation form -->

{% load static %}

{% block sub_title %}NewUserCreation{% endblock sub_title %}

{%block content%}
<h3>Create a new User</h3>
<form method="POST">
  {%csrf_token%}
  {% for field in form.hidden_fields %}
    {{ field }}
  {% endfor %}
  {% for f in form %}
     {% for error in f.errors %}
     <small>{{error}}</small>
  {% endfor %}
  {% endfor %}
     {% for field in form.visible_fields %}
        <p>{{ field.label }} <br>{{ field }}</p>
      {% endfor %}
  <button type="submit">Create</button>
</form>
{%endblock%}