{% extends 'myapp/base.html'%}
{% load static %}
{% block sub_title %}| {{product.title}} {% endblock sub_title %}
{% block content %}
<div class="row p-5">

</div>
<div class="row p-5">
    <div class="col">
        <div class="card" style="width: 50rem;height:30rem">
            <div class="card-body">
                <h5 class="card-title">{{product.title}}</h5>
                {% for images in product.images.all %}
                <a href="{{ images.url }}"><img src="{{ images.image.url }}" alt="" width="200px" height="200px" title="" /></a>
                {% endfor %}
                <p><b>Item no: </b>{{product.itemno}}</p>
                <p><b>Product Details : </b>{{product.description}}</p>
            </div>
        </div>


    </div>
</div>

{% endblock %}