{% extends 'myapp/base.html'%}
{% load static %}
{% load crispy_forms_tags %}
{% block sub_title %}| Profile Update Form{% endblock sub_title %}
{% block content %}
<div class="card mt-5">
    <div class="card-header bg-info text-white">
        Profile
    </div>
<div class="row mt-5  pe-4">
        <div class="col-4 p-5">
            {% if user.profile_photo %}
                 <img class="img-thumbnail" src="{{ user.profile_photo.url }}" alt="profile-image" width="180px height=100px">
            {% else %}
                <img src="{% static 'images/default.jpg' %}"  width="200" height="150">

            {% endif %}
        </div>
    <div class="col-6" >
        <form method="POST"   enctype="multipart/form-data">
            {% csrf_token %}
                   {{form.as_p}}
         <input type="submit"  class="btn btn-primary m-1" >
            
        </form>
        
    </div>
</div>
</div>


{% endblock %}